act_as_image_capture_server = yes
act_as_processing_node = no
central_sql_databases = image_server;image_server_archive
central_sql_hostname = 10.0.105.12
central_sql_password = password123
central_sql_username = image_server
local_buffer_sql_username = image_server
local_buffer_sql_password = 123password
local_buffer_sql_hostname = localhost
local_buffer_sql_database = image_server_buffer
compile_videos = no
device_barcode_coordinates = -l 0in -t 10.3in -x 8in -y 2in
device_capture_command = /usr/local/bin/scanimage
device_list_command = /usr/local/bin/sane-find-scanner
device_names = 
dispatcher_port = 1043
dispatcher_refresh_interval = 6000
ethernet_interface = em1
halt_on_new_software_release = no
hide_window = no
host_name = squid
latest_release_path = .
log_filename = image_server_log.txt
long_term_storage_directory = /long_term_storage/image_server_storage 
mail_path = /bin/mail
nodes_per_machine = 1
results_storage_directory = /long_term_storage/image_server_storage/results
run_autonomously = yes
server_crash_daemon_port = 1042
server_timeout_interval = 300
simulated_device_name = .
video_compiler_filename = ./x264.exe
video_ppt_compiler_filename = ./ffmpeg.exe
volatile_storage_directory = /home/ns_image_server/volatile_storage
