aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.h
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
config.log
config.status
stamp-h1
ns_image_server
ns_worm_browser
ns_worm_browser.app
ns_image_server_barcodes
